* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment__container {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  width: 605px;
  align-items: center;
  gap: 30px;
}

.comment__score {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  align-self: baseline;
  padding: 10px;
  margin: 10px 0px 0px 12px;
}

.comment__header {
  display: flex;
  align-items: center;
  gap: 50px;
}

.comment__header__avatar {
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 100%;
}

.comment__header__info {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
