* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content {
  display: flex;
  height: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comment__container {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  width: 605px;
  height: auto;
  align-items: center;
  gap: 15px;
  padding: 10px 0px;
}

.comment__score {
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: space-between;
  align-self: baseline;
  padding: 1px 8px;
  margin: 10px 0px 0px 12px;
  align-items: center;
  border-radius: 8px;
  color: #6d69f6;
  background-color: #f5f6fa;
}

.comment__header {
  display: flex;
  align-items: center;
  gap: 50px;
}

.comment__header-gap{
  display: flex;
  gap: 10px;
}

.comment__header__avatar {
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 100%;
}

.comment__header__info {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.comment__text{
  padding-top: 10px;
}
