* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(4, 120px); /* DEFINIENDO LA CANTIDAD DE FILAS */
  grid-template-columns: repeat(4, 1fr); /* DEFINIENDO LA CANTIDAD DE COLUMNAS */
  /* gap: 12px; Gap general (en vertical y horizontal) */
  row-gap: 5px;
  column-gap: 20px;

  align-items: center;
  justify-items: center;
}

.grid-item {
  width: max-content;
  height: max-content;
}

.header__nav-action {
  padding: 8px 30px;
  border: 1px solid black;
  border-radius: 5px;
}

.header{
  display: grid;
  grid-template-columns: 70% 30%;
  height: 64px;
}

.header__logo{
  margin-left: 20px;
  align-self: center;
}

.header__nav{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-right: 10px;
  align-items: center;
}

.hero{
  display: grid;
  grid-template-columns: 40% 60%;
  height: 700px;
  background-color: #f2f2f2;
  place-items: center;
}