* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(4, 120px); /* DEFINIENDO LA CANTIDAD DE FILAS */
  grid-template-columns: repeat(4, 1fr); /* DEFINIENDO LA CANTIDAD DE COLUMNAS */
  /* gap: 12px; Gap general (en vertical y horizontal) */
  row-gap: 5px;
  column-gap: 20px;

  align-items: center;
  justify-items: center;
}

.grid-item {
  width: max-content;
  height: max-content;
}