* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
  background-color: #F2F2F2;
  width: 100%;
  height: 100%;
}

.header {
  padding: 18px 25px;
  background-color: #FFFFFF;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header__nav-action {
  padding: 8px 30px;
  border: 1px solid black;
  border-radius: 5px;
}

.main-container {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.main-container__layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  
  gap: 78px;
  width: 70%;
  /* height: 480px; */
}

.main-container__content {
  display: flex;
  flex-direction: column;
}

.main-container__title {
  font-size: 56px;
  margin-bottom: 56px;
}

.main-container__paragraph{
  margin-bottom: 24px;
}

.main-container__button {
  width: 175px;
  padding: 19px 20px;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 14px;
}

.main-container__img-container { 
  width: 100%;
}

.main-container__img {
  object-fit: cover;
  width: 100%;
}

.companies__container {
  width: 100%;
  height: 266px;
  display: flex;
  justify-content: center;
}

.companies__container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.companies__container-content-images {
  display: flex;
  gap: 40px;
}

.companies__container-content-images-logo {
  width: 80px;
  height: 80px;
  background-color: #000000;
  border-radius: 100%;
}

.features__container {
  display: flex;
  width: 100%;
  height: 600px;
}

.features__container-image {
  width: 50%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features__container-image-content {
  width: 320px;
  height: 360px;
  background-color: #FFFFFF;
  border-radius: 8px;
}

.features__container-content {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features__container-content-text {
  width: 422px;
  height: 244px;
}

.features__container-content-text-title {
  font-size: 24px;
  margin-bottom: 40px;
}

.features__container-content-text-paragraph {
  font-size: 20px;
  margin-bottom: 24px;
}

.features__container-content-text-buttons {
  display: flex;
  gap: 11px;
  width: 100%;
}

.features__container-content-text-buttons-button {
  width: 50%;
  padding: 18px 16px;
}

.features-description__container {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.features-description__container-content {
  width: 70%;
  display: flex;
  align-items: center;
  gap: 100px;
}

.features-description-container-content-text {
  width: 50%;
}

.features-description__container-image {
  width: 50%;
}

.features-description-container-content-text-title {
  margin-bottom: 24px;
}

.features-description__container-content-text-paragraph {
  margin-bottom: 42px;
}

.features-description__container-content-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.features-description__image {
  width: 100%;
  height: 100%;
}

.comment__container {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment__container-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.comment__container-content-paragraph {
  font-size: 24px;
  text-align: center;
}

.comment__container-content-avatar {
  width: 40px;
  height: 40px;
  background-color: #000000;
  border-radius: 100%;
}

.comment__container-content-author {
  font-size: 14px;
  text-align: center;
}

.contact__container {
  height: 568px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__container-content{
  display: flex;
  flex-direction: column;
  width: 15%;
}

.contact__container-content-title {
  margin-bottom: 48px;
  text-align: center;
}

.contact__container-content-form{
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.contact__container-content-form-input {
  width: 100%;
  padding: 12px 18px;
  border-radius: 5px;
  border: 1px solid #000000;
}

.contact__container-content-form-button {
  background-color: #000000;
  color: #FFFFFF;
  padding: 12px 18px;
  border-radius: 5px;
  width: 90%;
  margin-top: 8px;
  cursor: pointer;
  transition: all 0.25s;
}

.contact__container-content-form-button:hover {
  background-color: #333333;
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 380px;
}

.footer__container-content {
  display: flex;
  width: 60%;
  gap: 40px;
}


.footer__container-logo {
  position: absolute;
  top: 25px;
  left: 150px;
  font-size: 24px;
  text-transform: uppercase;
}

.footer__container-content-blog {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
}

.footer__container-content-grid-container {
  padding-left: 50px;
  width: 50%;
}

.footer__container-content-grid {
  display: grid;
  width: 50%;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
}

.footer__container-content-separator {
  background-color: #000000;
  width: 1px;
  height: 320px;
}

.footer__container-content-grid-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer__container-content-grid-column1 {
  justify-self: flex-start;
}

.footer__container-content-grid-column2 {
  justify-self: flex-end;
}

.footer__container-content-privacy {
  margin-top: 65px;
}